{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<section id="login">

    <div class="container">
        <img src="{{ asset('UI/imgs/logo.png') }}" alt="">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}


        <input class="username" type="email" value="{{ last_username }}" name="_username" id="username"  autocomplete="email" placeholder="example@example.com" required autofocus>
        <input class="password" type="password" name="_password" id="password" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="reg-group">
            <button style="background-color: darkred;" type="submit">Login</button>
            <button style="background-color: rgb(51, 58, 65);">Make new account</button>
        </div>

    </form>
    </div>
</section>
{% endblock %}
