{% extends 'base.html.twig' %}


{% block body %}
    <style>
        h1{
            margin-top: 10px;
            margin-left: 25px;
        }
    </style>
    <h1>All Activities</h1>
    <a href="{{ path('activity_new') }}" class="btn btn-success mb-3">Add New Activity</a>
    <table class="table mx-auto" style="width: 95%;">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>

                <td>{{ activity.date|date('Y-m-d') }}</td>
                <td>{{ activity.status ? 'Active' : 'Inactive' }}</td>
                <td>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('activity_delete', {'id': activity.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No activities found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}