{% extends 'base.html.twig' %}
{% block activity %}
{% endblock activity %}
{% block body %}

    <p>{{ activity.description }}</p>
    <p>{{ activity.date|date('Y-m-d') }}</p>
    <p>Status: {{ activity.status }}</p>

    <h2>Donors</h2>
    {% for donor in donors %}
        <div>

            <p>{{ donor.getFirstName() }}</p>
            <p>{{ donor.email }}</p>
            <form method="post" action="{{ path('approve_participation', {'id': donor.participation.id}) }}">
                <input type="submit" value="Approve">
            </form>
        </div>
    {% else %}
        <p>No donors found.</p>
    {% endfor %}
{% endblock %}