
{% block header %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <!-- website font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('UI/css/swiper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('UI/css/animate.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('UI/css/style.css') }}" />

    <title>Blood Bank</title>
</head>

<body>

<section id="Nav2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{{ asset('UI/imgs/blood-donation-svgrepo-com.svg') }}" width="5%"></img>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link selected" href="{{ path('app_welcomepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="requests.html">Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="who-we-are.html">Who We Are ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                </li>
            </ul>
            <button class="btn signup" onclick= "window.location.href = '{{ path('app_register') }}';">New Account</button>
            <button class="btn login" onclick= "window.location.href = ' {{ path('app_login') }}';">Login</button>
        </div>
    </nav>
</section>
{% endblock header %}

{% block body %}

{% endblock body %}
<!-- Header Start -->

<!-- Header End -->

{% block footer %}
<!-- Footer Start -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="foot-info">
                    <img class="image_footer" src="{{ asset('UI/imgs/blood-donation-svgrepo-com.svg') }}" alt="" >
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut sit natus earum ea cum
                        doloremque fugit. Sit non ex suscipit fugiat molestias, ipsa rerum tempore voluptates
                        adipisci rem cum?</p>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="menu">
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="About-us.html">
                        <li>About Us</li>
                    </a>
                    <a href="#articles">
                        <li>Articles</li>
                    </a>
                    <a href="requests.html">
                        <li>Donations</li>
                    </a>
                    <a href="who-we-are.html">
                        <li>Who We Are?</li>
                    </a>
                    <a href="contact-us.html">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
            <div class="col-md-4">
{#                <ul class="options">#}
{#                    <li>#}
{#                        <h5>Available On</h5>#}
{#                    </li>#}
{#                    <li><img src="{{ asset('UI/imgs/ios1.png') }}" alt=""></li>#}
{#                    <li><img src="{{ asset('UI/imgs/google1.png') }}" alt=""></li>#}
{#                </ul>#}
            </div>
        </div>
    </div>
</section>
<!-- Footer End -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="{{ asset('UI/js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('UI/js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('UI/js/main.js') }}"></script>
</body>

</html>
{% endblock footer %}